//ff => Font Family
$ff-primary: "Alata", sans-serif;
$ff-secondary: "Josefin Sans", sans-serif;

// $ff-heading: $ff-secondary;
// $ff-body: $ff-primary;

//fs => Font Size
$fs-100: 1rem;
$fs-200: 1.5rem;
$fs-300: 2rem;
$fs-400: 2.5rem;
$fs-500: 3rem;

$fs-nav: $fs-100; //1rem
$fs-body: $fs-100; //1.5rem
$fs-sub-heading: $fs-300; //2rem
$fs-main-heading: $fs-400; //3rem
