@use "./color" as color;
@use "./font" as font;

$section-margin: 5rem;

.text-primary {
  color: color.$primary;
}
.text-accent-100 {
  color: color.$accent-100;
}

.text-secondary {
  color: color.$secondary;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: color.$primary;
}
.bg-secondary {
  background-color: color.$secondary;
}

.ff-primary {
  font-family: font.$ff-primary;
}
.ff-secondary {
  font-family: font.$ff-secondary;
}

.fs-nav-menu {
  font-size: font.$fs-nav;
}
.fs-sub-heading {
  font-size: font.$fs-sub-heading;
}
.fs-main-heading {
  font-size: font.$fs-main-heading;
}

body {
  font-size: font.$fs-body;
  font-family: font.$ff-primary;
}

picture {
  font-size: font.$fs-200;
  font-family: font.$ff-secondary;
  text-transform: uppercase;
}

.button {
  font-family: font.$ff-secondary;
  border: 2px solid color.$secondary;
  background-color: color.$primary;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: font.$fs-100;
  width: max-content;
  justify-self: center;
  transition: all ease-in-out 0.5s;

  &:hover {
    color: color.$primary;
    background-color: color.$secondary;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  padding: 0;

  li {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 60%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 25%;
      background-color: color.$primary;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;

  li {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      background-color: color.$primary;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.creations--grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  place-items: center;
}

@mixin nav-menu {
  display: flex;
  align-items: center;
}

@media (min-width: 50em) {
  .fs-nav-menu {
    font-size: font.$fs-100;
  }
  .fs-sub-heading {
    font-size: font.$fs-400;
  }
  .fs-main-heading {
    font-size: font.$fs-500;
  }

  .nav-menu {
    @include nav-menu;
    justify-content: space-evenly;
  }

  .nav-links-wrapper {
    position: relative;
  }

  .nav-links {
    column-gap: 1em;
    flex-direction: row;
  }

  .creations--grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 60em) {
  .nav-links {
    column-gap: 2em;
  }
}

@media (max-width: 50em) {
  .nav-links-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: color.$secondary;
    font-family: font.$ff-secondary;
    color: color.$primary;
    padding: 0 2rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-out;
    display: grid;
    align-content: center;
    justify-content: flex-start;

    &.open {
      transform: scaleX(1);

      & div {
        display: flex;

        height: max-content;
      }

      .nav-links {
        display: flex;
        font-size: font.$fs-300;
        text-transform: uppercase;

        li {
          width: 100%;
        }
      }
    }
  }
}
